body{
    background-color: lightgreen;
  }
  h1{
    color: black;
    text-align: center;
  }
  p{
    font-family: Times 'Times New Roman', Times, serif;
    font-size: 20px;

  }

pf{
    font-family: Times 'Times New Roman', Times, serif;
    font-size: 10px;
}

.grid-container{
  display: grid;
  grid-template-areas: 
    'headerImage headerImage headerText'
    'nav main main'
    'footer footer footer';
    gap: 10px;
}

.grid-container > * {
  border-radius: 8px;
  padding: 10px;
}

 .header{
  grid-area: header;
  background-color: grey;
}

 .headerText{
  grid-area: headerText;
  background-color: grey;
}

.headerImage{
  grid-area: headerImage;
  background-color: grey;
}

 nav{
  grid-area: nav;
  background-color: grey;
}

 main{
  grid-area: main;
  background-color: grey;
}

footer{
  grid-area: footer;
  background-color: grey;
}

a:hover{
    background-color: yellow;
    
}


th {
  border: 1px solid black;
  background: black;
  color: white;
}


td{
  border: 1px solid black;
  font-family: serif;
  font-size: 1.5em;
}

img{
  border: 4px solid black; 
}

ol{
  font-family: cursive;
}

li{
  font-style: italic;
}

ul{
  color: wheat;
}

.alternate{
  background: white;
}